<header class="jumbotron text-sm-left text-sm-center ">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-md-9">
        <h1>Music Contest</h1>
        <p style="padding:5px;"></p>
        <p class="lead">Сайт для підготовки до шкільної музичної олімпіади.</p>
        <p><a href="#/theory" class="btn btn-primary btn-lg">Go study! &raquo;</a></p>
      </div>
      <div class="visible-md visible-lg col-md-3">
        <img src="/img/logo.png" class="img-responsive logo">
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-md-4 text-center">
    <h2>Вивчай!</h2>
    <img class="img-block" src="/img/articles.png" /> <br />
    <p>
      На сайті зібрано близько 300 статей про композиторів та їхню творчість, про різноманітрі музичні інструменти та цікавинки з української та зарубіжної музичної літератури.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <h2>Дивись і слухай!</h2>
    <img class="img-block" src="/img/media.png" /> <br />
    <p>Більшість матеріалу підкріплена аудіо та відео фрагментами: уривками творів, звуками музичних інструментів, відео з опер та балетів і тд...</p>
  </div>
  <div class="col-md-4 text-center">
    <h2>Перевіряй себе!</h2>
    <img class="img-block" src="/img/tests.png" /> <br />
    <p>Для зареєсрованих користувачів доступна сила-силенна різного типу тестів. Проходьте тести та піднімайтеся вгору у рейтинговій таблиці!</p>
  </div>
</div>
