<div class="row gray rounded-bottom" style="margin-bottom: 20px">
  <div class="col-sx-12 text-center">
    <h1>Quiz</h1>
  </div>
</div>




<div class="row">
  <div class="col-md-8 col-md-offset-2 column">
    <p class="lead">Complete 40%</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 40%;">
        <span class="sr-only">Complete 40%</span>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </h3>
      </div>
      <div class="panel-body">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Etiam semper neque dui.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Cras et ex dapibus, euismod tellus ut.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Morbi maximus condimentum urna non condimentum.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"> Proin massa nisi, ornare vel hendrerit ut, mattis at metus.
          </label>
        </div>

      </div>
      <div class="panel-footer text-center">
        <a href="#/tests" class="btn btn-primary " role="button">Next</a>
      </div>
    </div>
  </div>

</div>


<div class="row">
<div class="col-xs-12 text-center">
    <div col-xs-12>
      <ul class="pagination">
        <li><a href="#/tests">1</a></li>
        <li><a href="#/tests">2</a></li>
        <li><a href="#/tests">3</a></li>
        <li><a href="#/tests">4</a></li>
        <li class="active"><a href="#/tests">5</a></li>
        <li><a href="#/tests">6</a></li>
        <li><a href="#/tests">7</a></li>
        <li><a href="#/tests">8</a></li>
        <li><a href="#/tests">9</a></li>
        <li><a href="#/tests">10</a></li>
      </ul>
    </div>
  </div>
</div>