<div class="row gray rounded-bottom margin-bottom">
  <div class="col-sm-9">
    <ol class="breadcrumb gray">
      <li><a href="#/theory">Theory</a></li>
      <li><a href="#/theory">Instruments</a></li>
      <li><a href="#/theory">Old</a></li>
      <li class="active">Clavichord</li>
    </ol>
  </div>
  <div class="col-sm-3">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control"  placeholder="Search" >
      <span class="input-group-addon">
        <button type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>  
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 col-sm-push-3 col-xs-12 col-xs-pull-0">
    <div class="rounded gray">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Arcticle Header</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus condimentum urna non condimentum. In sed est sit amet elit condimentum scelerisque ut eu justo. Donec molestie nunc velit, in laoreet enim maximus eu. Proin massa nisi, ornare vel hendrerit ut, mattis at metus.<br><br> Etiam semper neque dui, non placerat sapien pretium ut. Phasellus vel viverra metus, ac semper lectus. Nam dignissim ac turpis ac commodo. Morbi lacinia congue feugiat. Cras et ex dapibus, euismod tellus ut, efficitur neque. Suspendisse fringilla, mauris id consequat interdum, elit nulla lobortis libero, eget tincidunt quam risus vitae turpis.Nam dignissim ac turpis ac commodo. Morbi lacinia congue feugiat. Cras et ex dapibus, euismod tellus ut, efficitur neque. Suspendisse fringilla, mauris id consequat interdum, elit nulla lobortis libero, eget tincidunt quam risus vitae turpis.
          <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus condimentum urna non condimentum. In sed est sit amet elit condimentum scelerisque ut eu justo. Donec molestie nunc velit, in laoreet enim maximus eu. Proin massa nisi, ornare vel hendrerit ut, mattis at metus.</p>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading text-center">Lorem ipsum</div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Lorem</dt>
                <dd>ipsum</dd>
                <dt>Dolor</dt>
                <dd>sit amet</dd>
                <dt>Proin</dt>
                <dd>semper</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-sm-12 text-center">
          <img ng-src="/img/article/valtorna.png" class="article-img img-thumbnail" />
          <img ng-src="/img/article/drums.png" class="article-img img-thumbnail" />
          <img ng-src="/img/article/weltmeister.png" class="article-img img-thumbnail" />
          <img ng-src="/img/article/bandura.png" class="article-img img-thumbnail" />
        </div>
        <div class="col-sm-12 text-center">
          <video width="640" height="480" controls>
            <source ng-src="/video/drums.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-sm-pull-9 col-xs-12 col-xs-pull-0">
    <div class="rounded gray">
      <ul>
        <li><a href="#/theory">Lorem ipsum</a></li>
        <li><a href="#/theory">Morbi bibendum</a></li>
        <li><a href="#/theory">Curabitur posuere</a></li>
        <li>
          <ul>
            <li><a href="#/theory">Morbi bibendum</a></li>
            <li><a href="#/theory">Curabitur posuere</a></li>
            <li><a href="#/theory">Lorem ipsum</a></li>
          </ul>
        </li>
        <li><a href="#/theory">Nullam eleifend</a></li>
        <li><a href="#/theory">Donec vehicula</a></li>
        <li><a href="#/theory">Morbi bibendum</a></li>
        <li><a href="#/theory">Curabitur posuere</a></li>
        <li><a href="#/theory">Lorem ipsum</a></li>
        <li><a href="#/theory">Lorem ipsum</a></li>
        <li><a href="#/theory">Morbi bibendum</a></li>
        <li><a href="#/theory">Curabitur posuere</a></li>
        <li>
          <ul>
            <li><a href="#/theory">Morbi bibendum</a></li>
            <li><a href="#/theory">Curabitur posuere</a></li>
            <li><a href="#/theory">Lorem ipsum</a></li>
          </ul>
        </li>
        <li><a href="#/theory">Nullam eleifend</a></li>
        <li><a href="#/theory">Donec vehicula</a></li>
        <li><a href="#/theory">Morbi bibendum</a></li>
        <li><a href="#/theory">Curabitur posuere</a></li>
        <li><a href="#/theory">Lorem ipsum</a></li>
      </ul>
    </div>
  </div>
</div>

