<div class="row gray rounded-bottom margin-bottom">
  <div class="col-sm-9">
    <ol class="breadcrumb gray">
      <li><a href="#/theory">Theory</a></li>
      <li><a href="#/theory">Instruments</a></li>
      <li><a href="#/theory">Old</a></li>
      <li class="active">Clavichord</li>
    </ol>
  </div>
  <div class="col-sm-3">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control"  placeholder="Search" >
      <span class="input-group-addon">
        <button type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>  
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 col-sm-push-3 col-xs-12 col-xs-pull-0">
    <div class="rounded gray">
      data
    </div>
  </div>
  <div class="col-sm-3 col-sm-pull-9 col-xs-12 col-xs-pull-0">
    <div class="rounded gray">
      Contest
    </div>
  </div>
</div>